<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        
        <meta charset="utf-8">
        <meta name="description" content="LTI 1.1 Tool consumer ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <base href="/">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
        <style>
            .input-field{
                margin-top: 5px;
            }
            .input-field label{
                width: 200px;
                display: inline-block;
            }
            .input-field label::after{
                content: ":";
            }

            .input-field input{
                width: 300px;
            }

            .sub-heading{
                margin-bottom: 25px;
            }

            .btn-post{
                margin-top: 25px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="heading">LTI 1.1 POC</h1>
            <h2 class="sub-heading">Platform (Consumer) Implementation</h2>
            <% ltiFields.forEach(function(field) { %>
                <div class="input-field"><label><%= field.key %></label> <input type="text" value=<%= field.value %> <%= field.readonly ? "readonly" : "" %>></div>
            <% }); %>
            <button id="lti-request" class="btn-post btn btn-secondary">Post to Tool Provider</button>
        </div>
        <script>
            const generateLaunchURL = ()=>{
                let launchURL = "/ltilaunch?"
                let inputFields = document.getElementsByClassName("input-field");

                Array.from(inputFields).forEach((field) => {
                    let key = encodeURIComponent(field.querySelector('label').innerText);
                    let value = encodeURIComponent(field.querySelector('input').value);
                    launchURL = `${launchURL}${key}=${value}&`
                });
                console.log(launchURL);
                return launchURL;
            }
            const handleButtonClick = ()=>{
                const launchURL = generateLaunchURL();
                Object.assign(document.createElement('a'), { target: '_blank', href: launchURL}).click();
            }
            
            document.getElementById("lti-request").addEventListener("click", handleButtonClick)
        </script>
    </body>
</html>